{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">Bayu
                <span class="text-primary">Satria Gemilang</span>
            </h1>
            <div class="subheading mb-5">Depok - Margonda (jl. Kecapi) · 0812-9712-6699 ·
                <a href="mailto:bayu_sg@outlook.com">bayu_sg@outlook.com</a>
            </div>
            <p class="lead mb-5">I am a software developer with industry experience building web applications. I specialize in C# and Python (.NET, Django, Flask & FastAPI).</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/bayusatriagemilang/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/bayu-code-lab/">
                    <i class="fab fa-github"></i>
                </a>
                <!-- <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a> -->
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Technical Lead</h3>
                    <div class="subheading mb-3">bidbox.id</div>
                    Responsibilities : <br>
                        -Hiring and training technical personnel <br>
                        -Delegating work and assignments to team members <br>
                        -Collaborating to identify and fix technical problems <br>
                        -Keeping up-to-date with industry trends and developments <br>
                        -Writing progress reports and delivering presentations to the relevant stakeholders <br>
                        -Design Application Architecture <br>
                        -Setup and Manage AWS Infrastructure (ECS, Amplify, RDS, Elasticache, Elasticsearch, EC2, Elastic Beanstalk, Document DB, SQS etc..) <br>
                        -Develop API with Python Fast API <br>
                        -Third Party Integration (Salesforce, Moengage, SMS Gateway, Payment Gateway) <br>
                        -Leads the implementation and support of technological solutions for bidbox 2.0 and Otodeals. <br>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 2020 - Present</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Senior Software Developer</h3>
                    <div class="subheading mb-3">bidbox.id</div>
                    Responsibilities : <br>
                        - Setup AWS Infrastructure for bidbox 2.0 (EC2, S3, EB, ELB, SQS, RDS and Document DB). <br>
                        - Manage Git Repositories for bidbox 2.0 (Bitbucket and Gitlab). <br>
                        - Setup CI/CD for bidbox 2.0 (Bitbucket Pipelines). <br>
                        - Develops Software Solutions for bidbox 2.0 (Django). <br>
                        - Design Database for bidbox 2.0 <br>
                        - Develop Producer & Consumer for SQS (Data Transfer between PostgreSQL & MongoDB).<br>
                        - Support Jr Software Developer by coaching
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2018 - March 2020</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">IT Consultant</h3>
                    <div class="subheading mb-3">Xuenn Private Ltd</div>
                    Responsibilities : <br>
                        - Revamp Promotion Module using ASP. Net MVC C#, SQL Server and others. <br>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2019 - Augustus 2019</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">.Net Developer (C#)</h3>
                    <div class="subheading mb-3">Emerio Indonesia</div>
                    Responsibilities : <br>
                        - Revamp Web Application Trade Finance System Bank Of Tokyo Mitsubishi UFJ (TRAFIS) using Asp.Net Webform, Devexpress, SQL Server, K2 & C#. <br>
                        - Integration OVS Core Banking Apps with TRAFIS. <br>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2017 - September 2018</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">.Net Developer (C#)</h3>
                    <div class="subheading mb-3">PT. Karya Putra Surya Gemilang (KPSG)</div>
                    Responsibilities : <br>
                        - Revamp Human Resource Information System (HRIS) using Azure, ASP.Net MVC C# & SQL Server <br>
                        - Support & Maintenance HRIS Apps. <br>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2015 - October 2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Software Quality Assurance</h3>
                    <div class="subheading mb-3">PT. Datacaraka Solusindo (Winning Soft)</div>
                    Responsibilities : <br>
                        - Test Web Application based on scenario test <br>
                        - Test SQL Script (Stored Procedure, Trigger, Function & Scheduler) <br>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 2014 - June 2015</span>
                </div>
            </div>

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">University of Gunadarma</h3>
                    <div class="subheading mb-3">Bachelor Degree</div>
                    <div>Computer Technology</div>
                    <p>GPA: 3.10</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2009 - 2013</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">SMA Negeri 7 Bekasi</h3>
                    <div class="subheading mb-3">IPA</div>
                    <p>GPA: -</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2006 - 2009</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-docker"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-git-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-aws"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-bitbucket"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-github"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-gitlab"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-bootstrap"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-jira"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-microsoft"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Others</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    C#</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    PostgreSQL, MongoDB, Microsoft SQL Server, MySql</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Kubernetes</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Monitoring Apps (CAdvisor, Prometheus, Node Exporter & Grafana)</li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a software developer, I enjoy most of my time being outdoors.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
                shows, and I spend a large amount of my free time exploring the latest
                technology.</p>
        </div>
    </section>

    <!-- <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Google Analytics Certified Developer</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Mobile Web Specialist - Google Certification</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    2<sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    3<sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005</li>
            </ul>
        </div>
    </section> -->

</div>
{% endblock %}